[SddmGreeterTheme]
Name=KOOMPI OS
Description=Minimal dark login theme for KOOMPI OS
Author=KOOMPI
License=MIT
Type=sddm-theme
Version=1.0
Website=https://koompi.com
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=koompi
Theme-API=2.0
QtVersion=6
